<ng-container *ngIf="syncState$ | async as state">
    <div class="page-header">
        <div class="content">
            <h2 class="content-left">Sync</h2>
        </div>
        <hr>
    </div>
    <form [formGroup]="formGroup" class="form">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose Mapping</mat-label>
                <input matInput formControlName="mapping" autocomplete="off" [matAutocomplete]="autocomplete">
                <mat-autocomplete #autocomplete [displayWith]="mappingDisplay"
                                  (optionSelected)="onMappingChange($event.option.value)">
                    <mat-option *ngFor="let option of filteredMappings$ | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error>Mapping is required</mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="watch">Watch for file changes</mat-checkbox>
        </div>

        <div>
            <button *ngIf="state.watching" mat-raised-button color="warn" [disabled]="state.loading"
                    (click)="stopWatching()" style="margin-right: 10px;">
                STOP WATCHING
            </button>
            <button mat-raised-button color="primary" class="actions"
                    [disabled]="state.loading || !state.activeMapping || !formGroup.valid"
                    (click)="copy(state.activeMapping)">
                START COPY
            </button>
        </div>
    </form>
    <ng-container *ngIf="state.activeMapping as activeMapping">
        <div class="last-synced" *ngIf="state.lastSynced">
            Last synced: {{ state.lastSynced | date: 'medium' }}
        </div>
        <mat-card>
            <mat-progress-bar *ngIf="state.loading" mode="indeterminate" color="accent"></mat-progress-bar>

            <div class="caption">
                {{ activeMapping.name }}
            </div>

            <div class="mapping-details">
                <div class="source">
                    {{ activeMapping.source }}
                </div>
                <div class="spacer">
                    <mat-icon>east</mat-icon>
                </div>
                <div class="target">
                    {{ activeMapping.target }}
                </div>
            </div>

        </mat-card>
    </ng-container>
</ng-container>